# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Environment variables
.env

.bolt

# Build files
dist/
build/

# Virtual env py
venv/

# Temporary files
temp/

# Models
models/

# Backups
backups/

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo